body {
    margin: auto;
}

table {
    border-collapse: collapse;
    /*
    position: relative; found to be unnecessary
    */
    z-index: -1;
    height: 85vh;
    width: 100vw;
}

.stars {
    position: absolute;
}

tr:nth-of-type(odd) {
    background-color: red;
}

